html, body {
  margin: 0;
  padding: 0;
  background: #fafafa;
}

* {
  box-sizing: border-box;
}


header {
  width: 100%;
  height: 20vh;

  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
}

main {
  width: 100%;
  height: 80vh;

  position: absolute;
  top: 20vh;
  left: 0;
}

.logo {
  height: calc(100% - 38px);
  margin: 10px 0 5px;
}
.logo > img {
  height: 100%;
}
nav {
  height: 22px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  padding: 0 10px;
}
nav a {
  text-decoration: none;
  text-transform: lowercase;
  color: #777;
  padding: 5px 10px;
  margin: 0 10px;
  transition: 200ms color;
}
nav a:hover {
  text-decoration: underline;
  color: #222;
}

.slider-for {
  height: calc(90% - 9px);
  max-width: calc(100% - 70px);
  margin: 0 auto 5px;
}
.slider-for > div {
  height: 100%;
}
.slider-for .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-for .slick-loading,
.slider-nav .slick-loading {
  background: url(/images/loading.gif);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;

  /* hack for prevent webkit gray border */
  content: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
}
.slider-nav .slick-loading {
  background-size: contain;
}

.slider-nav {
  height: 10%;
  max-width: 100%;
}

.slider-nav .slick-list, .slider-nav .slick-track {
  width: 100% !important;
}

.flex {
  display: flex;
}

.slider-nav .slick-slide {
  max-width: 80px;
  transition: all 200ms;
}
.slider-nav .slick-slide:not(.slick-current) {
  transform: scale(0.9);
  opacity: 0.6;
}


.slick-slide img {
  margin: 0 auto;
}

.slick-track,
.slick-slide,
.fillheight {
  height: 100%;
}

.fillwidth {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slick-prev,
.slick-next {
  display: block;
  height: 100%;
  width: 40px;
  background: rgba(221, 221, 221, 0.2);
  transition: all 200ms;
}

.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  display: block;
  height: 100%;
  width: 40px;
  background: rgba(221, 221, 221, 0.5);
}