html, body {
  margin: 0;
  padding: 0;
  background: #fafafa;
}

.overflow {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100vh;

  animation-name: header-transition;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

header nav {
  width: 100%;
  height: 100%;

  background-color: white;
  animation-name: background-fade;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

header div {
  height: 100%;
  margin: 0 20px;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

header div.header-text {
  opacity: 0;

  animation-name: header-text-transition;
  animation-duration: 0.25s;
  animation-delay: 3.1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

header img {
  height: 100%;
}

header a {
  color: #e0e0e0;
  text-align: center;
}

header div.header-image a {
  text-align: center;
  height: 50%;

  animation-name: header-a-transition;
  animation-duration: 0.3s;
  animation-delay: 2.65s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

header ul {
  margin: 0;
  padding: 0;
  height: 100%;

  text-align: center;
}

header li {
  display: inline;
}

@keyframes background-fade {
  from { background-color: white; }
  to { background-color: black; }
}

@keyframes header-transition {
  from { height: 100vh; }
  to { height: 16vh; }
}

@keyframes header-a-transition {
  from { height: 50%; }
  to { height: 80%; }
}

@keyframes header-text-transition {
  from { opacity: 0; }
  to { opacity: 1; }
}

.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: white;
  z-index: 100;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.loading-progress img {
  height: 50px;
  background: #000;
  padding: 10px 5px;
  margin-left: 5px;
  top: 25px;
  position: relative;
}
.loading-progress {
  text-align: left;
}
.loading hr {
  transition: 3s width;
  width: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 6px;
  background: black;
}

section {
  position: relative;
  max-height: 90vh;
  height: 50vw;

  border: 2px solid white;
}

section .portrait, section .landscape {
  height: 100%;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid white;

  transition: 200ms all;
}
section .portrait:hover, section .landscape:hover {

}

section .portrait {
  width: 30%;
}
section .landscape {
  width: 70%;
}

@media (max-width: 35em) {
  section .portrait {
    width: 45%;
  }
  section .landscape {
    width: 55%;
  }
}

section .rellax {
  position: absolute;

  border: 4px solid #fff;
  background: #fff;

  bottom: -25vh;
  max-height: 30vw;
  height: 50vh;
  z-index: 10;

  box-shadow: 2px 2px 15px 0px;
}

section.portrait-on-right .rellax {
  left: 22%;
}

section.portrait-on-left .rellax {
  right: 22%;
}


/* ---- */
img.rellax.rellax-1 {
  bottom: -40vh;
}
img.rellax.rellax-2 {
  top: 7vh;
  left: 6%;
}
img.rellax.rellax-3 {
  right: 6vh;
}
