html, body {
  margin: 0;
  padding: 0;
  background: #fafafa;
}

* {
  box-sizing: border-box;
}

section {
  position: relative;
}

section .portrait {
  width: 30.4%;
}

section .landscape {
  width: 69.3%;
}

section .rellax {
  position: absolute;

  border: 4px solid #fff;
  background: #fff;

  bottom: -25vh;
  height: 50vh;
  z-index: 10;

  box-shadow: 2px 2px 15px 0px;
}

section.portrait-on-right .rellax {
  left: 22%;
}

section.portrait-on-left .rellax {
  right: 22%;
}


/* ---- */
img.rellax.rellax-1 {
    bottom: -40vh;
}
img.rellax.rellax-2 {
    top: 7vh;
    left: 6%;
}
img.rellax.rellax-3 {
    right: 6vh;
}